/*  LINKS GENERALES  */
@import url(../Generales/estilosMenu.css);
@import url(../Generales/estiloEquipos.css);
@import url(../Generales/estiloSuscripcion.css);
@import url(../Generales/estilosFooter.css);

/* Links a otros estilos de las secciones de la pagina de PAGINA*/
@import url(../Resultados/resultadosSelecFecha.css);
@import url(../Resultados/resultadosNavFecha.css);
@import url(../Resultados/resultadosResultadosPartidos.css);

*{
   box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    
}

.main-header .container{
    padding: 50px ;
}

/*  RESPONSIVE  */
@media screen and (min-width: 768px) {
    *{
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 10px;
        
    }
    
    .contenedor-slider img  {
        height: 400px;
    }
   
}