.navfecha{  /*Margenes que abarca el banner*/
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contenedor-navfecha{
    justify-content: space-around; 
    background-color: #333;
}

.contenedor-navfecha .contenedor-navfecha__all img {
    height: 4em;
    padding: 5px;
}

.contenedor-navfecha ul {
    list-style: none;
}

.contenedor-navfecha  ul li {
    border: 2px solid white;
    border-radius: 1em ;
    margin: 1em;
    border-color: #FF4E00;
    display: inline-block; /* Para que ponga todo en una linea */
}

.contenedor-navfecha ul li a {
   color: white;
   text-decoration: none;
}

.contenedor-navfecha ul li:hover{
    background: rgba(196, 107, 7, 0.5);
}
