
.resultadospartidos{  /*Margenes que abarca el banner*/
    text-align: center;
    padding-top: 20px;
 
}

.resultadospartidos-contenedor{
    background-color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
}

.resultadospartidos-contenedor__links__items {
    color: white;
    align-items: center;
    
}

.resultadospartidos-contenedor__links {
    border: 2px solid #FF4E00;
    border-radius: 1em ;
    align-items: center; 
    margin: 20px;
}

.resultadospartidos-contenedor__links:hover {
    border: 2px solid #FF4E00;
    border-radius: 1em ;
    background: rgba(196, 107, 7, 0.5);
}

.resultadospartidos-contenedor__links a{
    color: white;
    text-decoration: none;
}

.resultadospartidos-contenedor__links img {
    width: 4em;
    height: 4em;
}

.resultadospartidos-contenedor h3{
    font-size: 1em;
}

/*  RESPONSIVE   */
@media  (min-width:768px) { 

    .resultadospartidos-contenedor__links__items {
        justify-content: space-around; 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
     
    }
    
    .resultadospartidos-contenedor__links img {
        width: 10em;
        height: 10em;
    }
    
    .resultadospartidos-contenedor h3{
    font-size: 2em;
    }

}






/*
img {
    width: 100%;
    height: 100%;
}

.contenedor-resultadospartidos{
    justify-content: space-around; 
    background-color: #333;
    padding-bottom: 20px;
    align-items: center;
}

.contenedor-resultadospartidos .resulpart img {
    width: 6em;
    height: 6em;
}

.contenedor-resultadospartidos ul {
    list-style: none;
}

.contenedor-resultadospartidos  ul li {
    border: solid #FF4E00;
    border-radius: 1em ;
    margin: 2em;
}

.contenedor-resultadospartidos  ul li a {
   color: white;
   text-decoration: none;
}

.contenedor-resultadospartidos ul li:hover{
    background: rgba(196, 107, 7, 0.5);
}