/*  COLORES DE FONDO    */
$colorFondo1: #333;
$colorFondo2: white;
$colorFondo3: #FF4E00;
$colorFondo4:rgba(196, 107, 7, 0.5);
$colorFondo5: #151515;


/*  COLORES FONTS   */ 
$colorFonts1: white;
$colorFonts2: black;
$colorFonts3: #FF4E00;
$colorFonts4: grey;
$colorFonts5: #333;
$colorFonts6: #555;


/*  COLORES MENU    */ 
$colorMenu1:#333;
$colorMenu2:#FF4E00;
$colorMenu3:white;
$colorMenu4: #555;
$colorMenu5:rgba(196, 107, 7, 0.5);


/*  COLORES DE BARRAS   */
$colorBarra1:rgba(196, 107, 7, 0.5);
$colorBarra2: rgba(0, 0, 0, 0.8);
$colorBarra3: rgba(0,0,0,0.1);


/*  COLORES RECUADRO    */
$colorRecuadro1: #FF4E00;   
$colorRecuadro2:rgb(238, 184, 6);
$colorRecuadro3: #333;
$colorRecuadro4: #555;
$colorRecuadro5: white;

/*  COLOR GENERAL   */
$colorGeneral1: #FF4E00;   
$colorGeneral2:rgb(238, 184, 6);
$colorGeneral3: #333;
$colorGeneral4: #555;
$colorGeneral5: white;
