@import "./colores";
@import "./mixins";
@import "./fonts";

* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: "Inconsolata";
  }
  .opciones-header {
    
     padding: 10px;
     display: block;
     color: $colorMenu3;
     cursor: pointer;
     font-size: .9em;
     width: 100%;
     border-top: $colorMenu3 solid 1px;
     background-color: $colorMenu1;
     text-align: center;
     font-size: 1.2em;
     margin: 10px 0;
     align-items: center;
  }
 
  .opciones-header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .opciones-header__link {
    color: $colorMenu3;
    border: 1px solid $colorMenu2;
    display: block;
    padding: 5px 5px;
    font-size: .7em;

    &:hover {
        color: $colorMenu3;
        background-color: $colorMenu5;
        text-decoration: none;
    }
  }
  .opciones-header__btn {
    color: $colorMenu3;
    border: 1px solid $colorMenu2;
    display: block;
    padding: 5px 5px;
    text-decoration: none;
    font-size: .7em;

        &:hover {
            color: $colorMenu3;
            background-color: $colorMenu5;
            text-decoration: none;
        }
}

.opciones-header__input {
    display: block;
    padding: 5px;
    width: 50%;
    font-size: .7em;

        &:hover {
            color: $colorMenu3;
            background-color: $colorMenu5;
            text-decoration: none;
        }
}
.fa-search {
    color: $colorMenu3;
    border: 1px solid $colorMenu2;
    display: block;
    padding: 5px 5px;

    &:hover {
        color: $colorMenu3;
        background-color: $colorMenu5;
        text-decoration: none;
    }
}

/* RESPONSIVE */
@media (min-width:480px) {
    .opciones-header__link {
        padding: 10px;
        font-size: .6em;
        padding: 10px 20px;
    }
    .opciones-header__btn {
        padding: 10px;
        font-size: .6em;
        padding: 10px 20px;
    }
    .fa-search{
        padding: 10px;
        font-size: .6em;
        padding: 10px 20px;
}
}

@media (min-width:768px) {
    .opciones-header {
        font-size: .6em;
        margin-top: 70px;
        left: 0;
        
    }
    
    .opciones-header__link {
        padding: 10px;
        font-size: 1.3em;
        padding: 10px 30px;
    }
    .opciones-header__btn {
        padding: 10px;
        font-size: 1.4em;
        padding: 10px 30px;
    }
    .fa-search{
        padding: 10px;
        font-size: 1.3em;
        padding: 10px 30px;
    }
    .opciones-header__input {
        font-size: 1.3em;
    }
}
@media screen and (min-width: 1024px) {
    .opciones-header__link {
        padding: 10px;
        font-size: 1.5em;
        padding: 10px 50px;
    }
    .opciones-header__btn {
        padding: 10px;
        font-size: 1.5em;
        padding: 10px 50px;
    }
    .fa-search{
        padding: 10px;
        font-size: 1.5em;
        padding: 10px 50px;
    }
    .opciones-header__input {
        font-size: 1.5em;
    }
}




  