@import "./colores";
@import "./mixins";
@import "./fonts";


* {
    box-sizing: border-box;
    font-family: sans-serif;
 }
 body {
     margin: 0;
 }
 
 

 .nav-bar {
    background-color: $colorMenu1;
     padding: 10px;
     display: block;
     color: $colorMenu3;
     cursor: pointer;
     font-size: 1.5em;
     /*width: 100%;*/
  
}

.menu, .submenu, .menu__link__sub{
     list-style: none;
     padding: 0;
     margin: 0;
 }

 .menu {
    position: absolute;
    z-index: 9999;
    background-color: $colorMenu1;
     width: 80%;
     margin-left: -110%;
     transition: all 0.5s;
 }

 .menu__link {
     display: block;
     padding: 10px;
     color: $colorMenu3;
     text-decoration: none;
     font-size: 1em;
     background-color: $colorMenu1;
     padding-left: 10px;

     &:hover{
        background-color: $colorMenu2;
        color: $colorMenu3;
        text-decoration: none;
    }
 }

 .menu__link__pagina {
    display: block;
    padding: 10px;
    color: $colorMenu3;
    text-decoration: none;
    border-bottom: 0.5px solid $colorMenu4;
    background-color: $colorMenu1;
    padding-left: 30px;

    &:hover{
       background-color: $colorMenu2;
       color: $colorMenu3;
       text-decoration: none;
   }
}
.menu__link__sub {
    display: block;
    padding: 10px;
    color: $colorMenu3;
    text-decoration: none;
   
    background-color: $colorMenu1;
    padding-left: 60px;

    &:hover{
       background-color: $colorMenu2;
       color: $colorMenu3;
       text-decoration: none;
   }
}

.submenu {
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
}

.fa-chevron-down {
    color: white;
}

.mostrar {
    margin-left: 0;
}

.fa-bars {
    border: 1px solid $colorMenu2;
    padding: 10px;
    font-size: 1.5em;
    display: block;
    cursor: pointer;

        &:hover {
            background-color: $colorMenu5;
        }
}

/* RESPONSIVE */
@media (min-width:768px) {
    
    .nav-bar{
        display: none;
    }

    .main-header{
        position:fixed;
        display: block;
        width: 100%;
        z-index: 99999;
        height: 50px;
        top: 0;
    }

    .main-nav .menu {
    margin: 0;
    display: flex;
    height: 80px;
    }

    .menu {
    width: 100%;
    }
   
   .container-submenu {
    position: relative;
    margin: auto;
    
        .fa-chevron-down {
            display: none;
        }
    }

    .submenu {
        position: absolute;
        top: 40px;
        width: 200px;
        padding-bottom: 20px;
        overflow: visible;
        z-index: 1000;
        opacity: 0;
        visibility: hidden;
        font-size: .8em;
    }

    .container-submenu:hover .submenu {
        opacity: 1;
        visibility: visible;
    }  
   
    .menu__link__pagina{
        padding: 20px;
    }
    .menu__link__sub{
       padding-left: 40px;
       }
}

@media screen and (min-width: 1024px) {
    .submenu {
        width: 300px;
    }
}

@media screen and (min-width: 1280px) {
}


@media screen and (min-width: 1600px) {
}