@import "./colores";
@import "./mixins";

.suscripcion {
    background-color: $colorFondo1;
    text-align: center;
    
    border: 2px solid $colorRecuadro1;
   
}

.contenedor__suscripcion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
    align-items: center;
}
.suscripcion__link{
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em; 
    color: $colorFonts1;
    font-weight: bold;

    &:hover {
        color: $colorFonts1;
    }    
}

.suscripcion {
    width: 100%;
    height: 100%;
    animation-name: suscripcion;
    animation-iteration-count: infinite;  /* repeticion */
    animation-duration: 5s;
    animation-timing-function: linear ;  /* ritmo de la animacion */
    animation-direction: alternate; 
}

.contenedor__suscripcion a {
    text-decoration: none;
    animation-name: suscripcion__text;
    animation-iteration-count: infinite;  /* repeticion */
    animation-duration: 5s;
    animation-timing-function: linear ;  /* ritmo de la animacion */
    animation-direction: alternate; 
}

/*----------------*/

@keyframes suscripcion {
    0% {
        background-color: $colorFondo1;
    }
    50% {
        background: $colorFondo4;
    }
    100% {
        background-color: $colorFondo3;
    }
    
}
@keyframes suscripcion__text {
    10% {
        color: $colorFonts1;
    }
    50% {
        color: $colorFonts1;
    }
    90% {
        color: $colorFonts1;
    }
}




