/*  ESTILO DE FONTS     */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*  TAMAÑOS DE FONTS    */
$tamañoFonts1: 1.8em;
$tamañoFonts2: 1.6em; 
$tamañoFonts3: 1.4em;
$tamañoFonts2: 1.2em;
$tamañoFonts5: 1em;
$tamañoFonts6: .8em;





