.suscripcion {
    background-color: #333;
    color: white;
    text-align: center;
    padding: auto;  
    border: 2px solid #FF4E00;
}

.contenedor__suscripcion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.suscripcion {
    width: 100%;
    height: 100%;
    animation-name: suscripcion;
    animation-iteration-count: infinite;  /* repeticion */
    animation-duration: 5s;
    animation-timing-function: linear ;  /* ritmo de la animacion */
    animation-direction: alternate; 
   
}

.contenedor__suscripcion a {
    text-decoration: none;
    animation-name: suscripcion__text;
    animation-iteration-count: infinite;  /* repeticion */
    animation-duration: 5s;
    animation-timing-function: linear ;  /* ritmo de la animacion */
    animation-direction: alternate; 
}

/*----------------*/

@keyframes suscripcion {
    0% {
        background-color: #333;
    }
    50% {
        background: rgba(196, 107, 7, 0.5);
    }
    100% {
        background-color: white;
    }
    
}
@keyframes suscripcion__text {
    10% {
        color:white;
    }
    50% {
        color: black;
    }
    90% {
        color: black;
    }
}




