/*  ESTILOS GENERALES   */
@import "./Generales/fonts";
@import "./Generales/mixins";
@import "./Generales/variables";
@import "./Generales/colores";

/*  ESTILOS DE SECCIONES GENERALES  */
@import "./Generales/estilosMenu";
@import "./Generales/estilosMenuOpciones";
@import "./Generales/sliderBanner";
@import "./Generales/sliderEquipos";
/*@import "./Generales/estiloEquipos";*/
@import "./Generales/estiloSuscripcion";
@import "./Generales/estilosFooter";

/*  ESTILOS DE PAGINAS  */
@import "./Principal/estilosPrincipal";
@import "./Resultados/estiloResultado";
@import "./Partidos/estilosPartidos";
@import "./Noticias/estilosNoticias";
@import "./Imagenes/estilosImagenes";
@import "./Tienda/estilosTienda";