.partidojugadores{
    background-color: white;
    color: #333;
    text-align: center;
}
    
.partidojugadores .contenedor{
    display: flex;                  /* Para que las imagenes esten en la misma linea */ 
    flex-wrap: wrap;                /*Para que los elementos si no entran en la pagina se bajen */
    justify-content: space-around;    /*Para que lo centre  */
}

.partidojugadores h3 {
    font-size: 3em;
}

.partidojugadores th {
    background-color: gray;
    margin: 1em;
}

.partidojugadores .columnas tr {
    font-size: .6em;
}
.partidojugadores .columnas tr th{
    padding: .5em;
}

.partidojugadores .lineas tr {
    font-size: 1.2em;
}

fieldset {
    padding: 0.1em;
}

legend{
    padding: 0.5em;
    font-size: 2em;
}

@media  (min-width:1024px) { 
      
    .partidojugadores a {                 /* Crear un boton*/
        display: block;
        width: 100%;
        color: rgb(114, 111, 111);
        text-decoration: none;
        padding: 7px;
        margin-top: 10px;
        border: 3px solid black ;
        
    }

    .partidojugadores .columnas tr {
        font-size: 1.5em;
    }
    .partidojugadores .columnas tr th{
        padding: 0.5em;
    }

    .partidojugadores .lineas tr {
        font-size: 1em;
    }
 }