@import "../Generales/colores";
@import "../Generales/mixins";

/*  LINKS GENERALES  */
@import "../Generales/estilosMenu";
@import "../Generales/estiloEquipos";
@import "../Generales/estiloSuscripcion";
@import "../Generales/estilosFooter";

/*  LINKS ESTILOS DE PAGINA */
@import "../Imagenes/imagenesGaleriaImg";

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
}
