/*  LINKS GENERALES  */
@import url(../Generales/estilosMenu.css);
@import url(../Generales/estiloEquipos.css);
@import url(../Generales/estiloSuscripcion.css);
@import url(../Generales/estilosFooter.css);

/* Links a otros estilos de las secciones de la pagina de PAGINA*/
@import url(../Partidos/partidoequipos.css);
@import url(../Partidos/partidovideo.css);
@import url(../Partidos/partidojugadores.css);
@import url(../Partidos/partidoestadisticas.css);
@import url(../Partidos/partidoencuesta.css);
@import url(../Partidos/partidocomentarios.css);

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
}




/* RESPONSIVE */
@media screen and (min-width: 768px) {
    *{
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 10px;
        
    }
    
    .contenedor-slider img  {
        height: 400px;
    }
}
