#partidojugadores{
    background-color: white;
    color: #333;
    text-align: center;
}
    
#partidojugadores .contenedor{
    display: flex;                  /* Para que las imagenes esten en la misma linea */ 
    flex-wrap: wrap;                /*Para que los elementos si no entran en la pagina se bajen */
    justify-content: space-around;    /*Para que lo centre  */
}

#partidojugadores h3 {
    
    font-size: 30px;
}

#partidojugadores th {
    background-color: gray;
    margin: 3px;
}

@media  (min-width:400px) { 
    #partidojugadores h2 {                /* Tamaño de la letra h2 */
        font-size: 18px;
    }
    
    #partidojugadoresp {
        font-size: 12px;
    }

    #partidojugadores a {                 /* Crear un boton*/
        display: block;
        width: 100px;
        color: black;
        text-decoration: none;
        padding: 7px;
        margin-top: 10px;
        border: 3px solid black ;
    }

    #partidojugadores .columnas tr {
        font-size: 8px;
    }

    #partidojugadores .lineas tr {
        font-size: 10px;
    }
 }