#partidoequipos {  /*Margenes que abarca el banner*/
    background-color: #333;
    color: white;
    text-align: center;
    padding: auto;
    
}

#partidoequipos img {
    width: 100%;
    height: 100%;
    
}

#partidoequipos h4{
    font-size: 30px;
    font-family: fantasy;
}

#partidoequipos .contenedor{


    justify-content: space-around; 
}

#partidoequipos .contenedor  img {
    width: 120px;
    height: 120px;
    
 
}

#partidoequipos .contenedor ul {
    list-style: none;
    
}

#partidoequipos .contenedor  ul li {
    border: 2px solid white;
    border-radius: 1em ;
    margin: 1em;
}

#partidoequipos .contenedor  ul li a {
   color: white;
   text-decoration: none;
  
}

#partidoequipos .contenedor ul li:hover{
    background-color: rgba(255,255,255,0.3);
}
