.partidoestadisticas{
    text-align: center;
}

.partidoestadisticas .contenedor{
    display: flex;                  /* Para que las imagenes esten en la misma linea */ 
    flex-wrap: wrap;                /*Para que los elementos si no entran en la pagina se bajen */
    justify-content: space-around;    /*Para que lo centre  */
    background-color: #333;
    color: white;
    padding: 15px;

}

.partidoestadisticash3 {
    font-size: 3em;
}

.partidoestadisticas th {
    font-size: 1.3em;
    background: rgba(196, 107, 7, 0.5);
}

.partidoestadisticas .columnas tr {
    font-size: .6em;
}
.partidoestadisticas .columnas tr th{
    padding: .5em;
}

.partidoestadisticas .lineas tr {
    font-size: 1em;
}

fieldset {
    padding: 0.1em;
}

legend{
    padding: 0.5em;
    font-size: 2em;
}

@media  (min-width:1024px) { 
      
    .partidoestadisticas  a {                 /* Crear un boton*/
        display: block;
        width: 100%;
        color: rgb(114, 111, 111);
        text-decoration: none;
        padding: 7px;
        margin-top: 10px;
        border: 3px solid black ;
    }
    .partidoestadisticas  th {
        font-size: 1.0em;
    }
    .partidoestadisticas .columnas tr {
        font-size: 1.5em;
    }
    .partidosestadisticas .columnas tr th{
        padding: 0.5em;
    }

    .partidosestadisticas .lineas tr {
        font-size: 1em;
    }
 }