.partidoestadisticas{
    background-color: lightgray;
    color:#333;
    text-align: center;
}
    
.partidoestadisticas .contenedor{
    display: flex;                  /* Para que las imagenes esten en la misma linea */ 
    flex-wrap: wrap;                /*Para que los elementos si no entran en la pagina se bajen */
    justify-content: space-around;    /*Para que lo centre  */
    padding: 1em;
}
.partidoestadisticas tr th {
    background-color: grey;
    padding: .5em;
}

.partidoestadisticas tr td {
    background-color: white;
}

fieldset {
    padding: 0.1em;
}

legend{
    padding: 0.5em;
    font-size: 2em;
}

@media  (min-width:1024px) { 
    .partidoestadisticas th {
        font-size: 2em;
    }
    
    .partidoestadisticas td {
        font-size: 1.2em;
    }

    .partidoestadisticas tr {
        font-size: 1em;
    }
 }