.partidoequipos {  /*Margenes que abarca el banner*/
    text-align: center;
    padding-bottom: 20px;
    
}

.partidoequipos h4{
    font-size: 30px;
    font-family:'Open Sans', sans-serif;
}

.contenedor-partidoequipos{
    padding: 5px;
    color: white;
    background-color: #333;
    justify-content: space-around; 
    
}

.contenedor-partidoequipos img {
    width: 120px;
    height: 120px;

}

.contenedor-partidoequipos ul {
    list-style: none;
}

.contenedor-partidoequipos ul li {
    border: 2px solid white;
    border-radius: 1em ;
    margin: 1em;
    padding: 20px;
    
}
