@import "../Generales/colores";
@import "../Generales/mixins";

.videoResFech h2 {
        text-align: center;
        margin-top: 10px;

}

.contenedor-videoResFech{
        display: flex;                  /* Para que las imagenes esten en la misma linea */ 
        flex-wrap: wrap;                /*Para que los elementos si no entran en la pagina se bajen */
        justify-content: space-around;    /*Para que lo centre  */
        background-color: $colorFondo1;
        padding-top: 20px;
        padding-bottom: 20px;
 
     
}
@media screen and (min-width: 768px) {
        .videoResFech h2 {
         padding-top: 10px;
                font-size: 2em;
        }
        
        .video {
                width: 60em;
                height: 35em;
        }   
}