@import "../Generales/colores";
@import "../Generales/mixins";

.resultadosPartidos{  /*Margenes que abarca el banner*/
    text-align: center;
    margin: 0;
    padding: 0;
    
}

.contenedor-resultadosPartidos{
    background-color: $colorFondo1;
    padding-top: 20px;
    padding-bottom: 20px;
   
}

.all__resultados__links {
    border: 2px solid $colorRecuadro1;
    border-radius: 1em ;
    
    margin: 20px;
    list-style: none;
    padding: 5px;
    font-size: 0.8em;
}


.resultadosPartidos__all ul li {
    border: 2px solid $colorRecuadro5;
    border-radius: 1em ;
    margin: 1em;
    border-color: $colorRecuadro1;
    display: inline-block; /* Para que ponga todo en una linea */
}

.all__resultados__links:hover {
    border: 2px solid $colorRecuadro1;
    border-radius: 1em ;
    background: $colorFondo4;
}

.all__resultados__links a{
    color: $colorFonts1;
    text-decoration: none;
    
}

.resultadosPartidos_all_resultados img{
    width: 2em;
    height: 2em;
}

/*  RESPONSIVE   */
@media  (min-width:768px) { 

    .all__resultados__links {
        border: 2px solid $colorRecuadro1;
        border-radius: 1em ;
        align-items: center; 
        margin: 20px;
        list-style: none;
        padding: 15px;
        font-size: 1.5em;

        img {
            font-size: 1.5em;
        }
        h6 {
            font-size: 1em;
        }
    }
    
    .resultadospartidos-contenedor__links img {
        width: 10em;
        height: 10em;
    }
    
    .resultadospartidos-contenedor h3{
    font-size: 3em;
    }

}
