@import "../Generales/colores";
@import "../Generales/mixins";

.tablaposiciones {
    text-align: center;
    padding-bottom: 20px;
}

.contenedor-tablaposiciones {
    padding-bottom: 10px;
    background-color: $colorFondo1;
    color: $colorFonts1;
    text-align: center;
}

.contenedor-tablaposiciones__tabla{
    width: 100%;
    height: 100%;
}
.contenedor-tablaposiciones__categoria {
    font-size: 1.5em;
}

.categoria__table{
    width: 100%;
}

.categoria__table__columnas th {
    font-size: 1em;
    background: $colorFondo4;
}

.categoria__table__lineas tr  {
    font-size: 1em;
}

/* RESPONSIVE */
@media screen and (min-width: 768px) {

    h2 {
        font-size: 2em;
    }
    .contenedor-tablaposiciones__tabla {
      font-size: 1.3em;

        .categoria__table {
            font-size: 1em;
        }
    }

   
}
 