/*  PRODUCTOS   */
@import "variables.scss";
@import "mixins.scss";


.main-title {
    text-align: center;
    background: $colorsecundario;
    border: 2px solid $colorsecundario;
}
.main-title2 {
    text-align: center;
    background: $colorfondosecundario;
    border: 2px solid $colorsecundario;
}

.container-products {
   @include grid-mobile();
}

.container-products-2 {
    @include grid-mobile();
}

.product__new {
    border: 1px solid $colorsecundario;
    text-align: center;
    position: relative;
    
    @include carrito;

    & a:hover{
    @include carrito;
    color: $colorsecundario;
    }
    
}

.product__new:before {
    content: "New";
    background: $colorsecundario;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    
}



.product__img {
    width: 100%;
    /*height: 100px; /* tamaño de corte de imagen */
    object-fit: cover;
}

.product__title {       /*  SASS ANIDADO */
    
    font: {
        size: 1em;
        weight: bold;
    }

    text: {
        align: center;
    }
    
    padding: 10px;
}



.product__icon {
    display: block;
    margin: 10px;
}

.product {
    border: 1px solid $colorsecundario;
    text-align: center;
    position: relative;
    @include carrito;

    & a:hover{
    @include carrito;
    color: $colorsecundario;
    }
}