/* Traer fuentes https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Links a otros estilos de las secciones de la pagina FIJOS*/
@import url(../Principal/menu.css);
@import url(../Principal/banner.css);
@import url(../Principal/suscripcion.css);
@import url(../Principal/slider.css);
@import url(../Principal/footer.css);


/* Links a otros estilos de las secciones de la pagina de PAGINA*/
@import url(../Noticias/noticiasgeneral.css);

*{
    margin: 0;
    padding: ;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
    
}

header{
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; /* z-index: es para que este sobre todos los elementos*/
}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left ;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}


.bienvenidos {
    text-align: center;
    background-color: lightgray;
    
}

.bienvenidos h2{
    text-align: center;
    background-color: lightgray;
    font-size: 0.9em;
}

.bienvenidos p {
    text-align: center;
    background-color: lightgray;
    font-size: 0.7em;
}

@media  (min-width:1024px) { 


    .bienvenidos h2 {
        text-align: center;
        font-size: 2em;
        
    }

    .bienvenidos p{
        text-align: center;
        font-size: 1em;
    }
}

