@import "../Generales/colores";
@import "../Generales/mixins";

.partidoestadisticas {
    text-align: center;
}

.contenedor-estadisticas {
    padding-bottom: 10px;
    background-color: $colorFondo1;
    color: $colorFonts1;
    text-align: center;
}

.contenedor-estadisticas__tabla{
    width: 100%;
    height: 100%;
}
.contenedor-estadisticas__categoria {
    font-size: 1.5em;
}

.estadisticas__table{
    width: 100%;
}

.estadisticas__tabla__columnas th {
    font-size: 1em;
    background: $colorFondo4;
}

.estadisticas__tabla__lineas tr  {
    font-size: 1em;
}

