@charset "UTF-8";
/*  PRODUCTOS   */
/*  SASS  VARIABLES   */
/*  SASS  VARIABLES   */
/*  SASS MIXIN */
.main-title {
  text-align: center;
  background: #FF4E00;
  border: 2px solid #FF4E00; }

.main-title2 {
  text-align: center;
  background: rgba(196, 107, 7, 0.5);
  border: 2px solid #FF4E00; }

.container-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  padding-top: 20px;
  padding-bottom: 20px; }

.container-products-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  padding-top: 20px;
  padding-bottom: 20px; }

.product__new {
  border: 1px solid #FF4E00;
  text-align: center;
  position: relative;
  text-align: center;
  position: relative;
  font-weight: bold; }
  .product__new .product__icon {
    font-size: 1.5em; }
  .product__new a:hover {
    text-align: center;
    position: relative;
    font-weight: bold;
    color: #FF4E00; }
    .product__new a:hover .product__icon {
      font-size: 1.5em; }

.product__new:before {
  content: "New";
  background: #FF4E00;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0; }

.product__img {
  width: 100%;
  /*height: 100px; /* tamaño de corte de imagen */
  object-fit: cover; }

.product__title {
  /*  SASS ANIDADO */
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  padding: 10px; }

.product__icon {
  display: block;
  margin: 10px; }

.product {
  border: 1px solid #FF4E00;
  text-align: center;
  position: relative;
  text-align: center;
  position: relative;
  font-weight: bold; }
  .product .product__icon {
    font-size: 1.5em; }
  .product a:hover {
    text-align: center;
    position: relative;
    font-weight: bold;
    color: #FF4E00; }
    .product a:hover .product__icon {
      font-size: 1.5em; }
