

/* FOOTER */
.main-footer {
    background-color: #151515;
    color: grey;
    padding: 30px 20px;
}

.footer__title {
    font-size: .9em;
    font-weight: bold;
    color: tomato;
    border-bottom: 1px solid #555;
}

.footer__txt {
    font-size: .8em;
}

.redes__sociales {
    size: 0.8em;
    color: grey;
    padding: 10px;
}
.redes__sociales:hover {
    color:#FF4E00;
    padding: 10px;
}

.footer__links {
    font-size: .8em;
    color: grey;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.footer__links:hover {
    color: #FF4E00;
    text-decoration: none;
}

.footer__input {
    background-color: #151515;
    width: 100%;
    display: block;
    padding: 10px;
    border: 1px solid #555;
    color: white;
}

.copy {
    color: #555;
    
}

/* RESPONSIVE */
@media screen and (min-width: 768px) {
 
  /* FOOTER LINKS*/
  .main-footerlinks {
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    grid-gap: 15px;  
}
/* FOOTER */
.main-footer {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;   
    padding: 20px;
    margin-bottom: 80px;
}
.product__icon {
    size: 20px;
}
.copy {
    grid-column-start: span 4;
    text-align: center;
}
   
}
@media screen and (min-width: 1024px) {
    
  /* FOOTER LINKS*/
    .main-footerlinks {
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        grid-gap: 15px;  
    }
 /* FOOTER */
    .main-footer {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 15px;   
        padding: 20px;
        margin-bottom: 80px;
    }
    .product__icon {
        size: 20px;
    }
    .copy {
        grid-column-start: span 4;
        text-align: center;
    }
}
    