@import "../Generales/colores";
@import "../Generales/mixins";

/*  LINKS GENERALES  */
@import "../Generales/estilosMenu";
@import "../Generales/estiloEquipos";
@import "../Generales/estiloSuscripcion";
@import "../Generales/estilosFooter";

/*  LINKS ESTILOS DE PAGINA */


*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    font-family: 'Inconsolata';
}

.main-header .container{
    padding: 50px 20px;
}


/* SLIDER */
.contenedor-slider {
    margin: 5px 0;
    position: relative;
}

.contenedor-slider img {
    display: block;
    height:300px;
}

.contenedor-slider {
    display: block;
    position: relative;
}

.contenedor-slider h5 {
    font-family: 'Roboto', sans-serif;
    color: $colorFonts1;
    font-size: 2em;
}

.contenedor-slider p {
    font-family: 'Inconsolata', monospace;
    color: $colorFonts1;
    font-size: 0.8em;
}

.slider {
    margin: 30px 0;
}
