/*  LINKS GENERALES  */
@import url(../Generales/estilosMenu.css);
@import url(../Generales/estiloEquipos.css);
@import url(../Generales/estiloSuscripcion.css);
@import url(../Generales/estilosFooter.css);


/* Links a otros estilos de las secciones de la pagina de PAGINA*/
@import url(../Resultados/resultadosselecfecha.css);
@import url(../Resultados/resultadosnavfecha.css);
@import url(../Resultados/resultadosresultadospartidos.css);

*{
    
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    font-family: 'Inconsolata';
}

.main-header .container{
    padding: 50px 20px;
}


/* SLIDER */
.contenedor-slider {
    margin: 5px 0;
    position: relative;
}

.contenedor-slider img {
    display: block;
    height:300px;
}

.contenedor-slider {
    display: block;
    position: relative;
}

.contenedor-slider h5 {
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 2em;
}

.contenedor-slider p {
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 0.8em;
}

.slider {
    margin: 30px 0;
}


/*  RESPONSIVE  */
@media screen and (min-width: 768px) {
    *{
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 10px;
        font-family: 'Inconsolata';
    }
    
    .contenedor-slider img  {
        height: 400px;
    }
   
}