#navfecha{
    background-color: #333;
    color: white;
    text-align: center;
    padding: auto;
}

#navfecha  h3 {
    font-size: 30px;
    color: white;
}

#navfecha h4 {
    font-size: 20px;
    color: white;
}

#navfecha .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#navfecha .contenedor .imagen {
    width: 100px;
    height: 80px;
}

#navfecha .contenedor ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#navfecha .contenedor ul li{
        display: inline-block;
    }

    #navfecha .contenedor ul li a{
            display: block;
            color: white;
            height: 50px;
            text-decoration: none;
            padding: 15px;
            border-bottom: 1px solid rgba(255,255,225,0.5);
            margin: 15px;
}
    
    
#navfecha .contenedor ul li a:hover{
            background-color: rgba(255,255,255,0.3);
        }