.selecfecha{
 
    text-align: center;

    width: 100%;
    height: 100px;
}

.contenedor-selecfecha {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #333;
  
}

.contenedor-selecfecha h2 {
    font-size: 15px;
    color: black;
    
}