 #navsitios{
    background-color: #333;
    color: white;
    text-align: center;
    padding: auto;
}

#navsitios .contenedor{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
        li{
            display: inline-block;
        }
            a{
                display: block;
                color: white;
                height: 50px;
                text-decoration: none;
                padding: 15px;
                border-bottom: 1px solid rgba(255,255,225,0.5);
                margin: 15px;
            }
        
        
            a:hover{
                background-color: rgba(255,255,255,0.3);
            }

            
#navsitios .contenedor h3 {
    font-size: 15px;
    color: white;
}

#navsitios .contenedor h4 {
    font-size: 12px;
    color: white;
}