.tablaposiciones {
    background-color: white;
    color: #333;
    text-align: center;
}
    
.tablaposiciones .contenedor{
    display: flex;                  /* Para que las imagenes esten en la misma linea */ 
    flex-wrap: wrap;                /*Para que los elementos si no entran en la pagina se bajen */
    justify-content: space-around;    /*Para que lo centre  */
}

.tablaposiciones h3 {
    font-size: 30px;
}

.tablaposiciones .columnas th {
    font-size: 0.7em;
    padding: 0.2em;
}

.tablaposiciones .lineas tr {
    font-size: 0.8em;
}


@media  (min-width:1024px) { 
    .tablaposiciones h2 {                /* Tamaño de la letra h2 */
        font-size: 50px;
    }
    
    .tablaposiciones p {
        font-size: 15px;
    }

    .tablaposiciones a {                 /* Crear un boton*/
        display: block;
        width: 100px;
        color: black;
        text-decoration: none;
        padding: 7px;
        margin-top: 10px;
        border: 3px solid black ;
    }

    .tablaposiciones .columnas th {
        font-size: 2em;
        padding: 0.2em;
    }

    .tablaposiciones .lineas tr {
        font-size: 1em;
    }
 }
