/*  LINKS GENERALES  */
@import url(../Generales/estilosMenu.css);
@import url(../Generales/estiloEquipos.css);
@import url(../Generales/estiloSuscripcion.css);
@import url(../Generales/estilosFooter.css);

/*  LINKS ESTILOS DE PAGINA */
@import url(../Principal/videoresfech.css);
@import url(../Principal/mejoresTorneo.css);
@import url(../Principal/mejoresFecha.css);
@import url(../Principal/resultadosPartidos.css);
@import url(../Principal/tablaPosiciones.css


*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    font-family: 'Inconsolata';
}

img {
    display:block;
    width: 100%;
}

.main-header .container{
    padding: 50px 20px;
}


/* SLIDER */
.contenedor-slider {
    margin: 5px 0;
    position: relative;
}

.contenedor-slider img {
    display: block;
    height:300px;
}

.contenedor-slider {
    display: block;
    position: relative;
}

.contenedor-slider h5 {
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 2em;
}

.contenedor-slider p {
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 0.8em;
}

.slider {
    margin: 30px 0;
}

/*  ESTILOS DE LA PAGINA    */
.videoresfech{
    font-family: 'Roboto', sans-serif;
    margin: 30px 0;
    color: #333;
    background-color: white;
}

.suscripcion {
    margin: 30px 0;
}

.navpartidos {
     margin: 10px 0;
}

.mejoresFecha{
    margin: 30px 0;
}

.mejoresTorneo{
    margin: 30px 0;
}

.tablaPosiciones {
    margin: 30px 0;
}

/*  RESPONSIVE  */
@media screen and (min-width: 768px) {
    *{
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 10px;
        font-family: 'Inconsolata';
    }
    
    .contenedor-slider img  {
        height: 400px;
    }
}
