* {
    margin:0;
    padding: 0;
}

#footer .contenedor {
    background-color: #333;
    color: white;
    text-align: center;
}

#footer .contenedor  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
#footer .contenedor  a {
    color: white;
    display: block;
    padding: 10px;

}

#footer .contenedor a:hover {
    background-color: rgba(255,255,255,0.3);
}

#footer p {
    text-align: center;
}