#informacion {
    background-color: #333;
    color: white;
    text-align: center;
    padding: auto;
}

#informacion .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

#informacion .contenedor img {
    width: 80px;
    height: 80px; 
}   


#informacion h3 {
    font-size: 30px;
    text-align: center;
}

#informacion h4 {
    font-size: 10px;
    text-align: center;
}

