.resultadosPartidos {
    text-align: center;
}


.contenedor-resultadosPartidos{
    padding: 20px;
    background-color: #333;
    text-align: center;
}

.contenedor__resultadosPartidos{
    margin: 0;
    padding: 10px;
    list-style: none;
    text-decoration: none;
}

.contenedor__resultado{
    display: inline-block;
}

.contenedor__partidos{
    display: block;
    color: white;
    margin: 15px;
}
    
.contenedor__partidos:hover {
    color: #FF4E00;
    text-decoration: none;
}


.contenedor__partidos__imagen{
    width: 4em;
    height: 4em;
    display: inline-block;
    text-decoration: none;
}
