*{
    margin: 0;
    padding: 0;
}

.suscripcion {
    background-color: #333;
    color: white;
    text-align: center;
    padding: auto;  
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
}

.contenedor__suscripcion {
display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font
}


.suscripcion {
    width: 100%;
    height: 100%;
    animation-name: suscripcion;
    animation-iteration-count: infinite;  /* repeticion */
    animation-duration: 5s;
    animation-timing-function: linear ;  /* ritmo de la animacion */
    animation-direction: alternate; 
}

.contenedor__suscripcion a {
    text-decoration: none;
    animation-name: suscripcion__text;
    animation-iteration-count: infinite;  /* repeticion */
    animation-duration: 5s;
    animation-timing-function: linear ;  /* ritmo de la animacion */
    animation-direction: alternate; 
}

/*----------------*/

@keyframes suscripcion {
    0% {
        background-color: #333;
    }
    50% {
        background-color: black;
    }
    100% {
        background-color: white;
    }
    
}
@keyframes suscripcion__text {
    10% {
        color:grey;
    }
    50% {
        color: white;
    }
    90% {
        color: black;
    }
}




