.tablaPosiciones {
    text-align: center;
}

.contenedor-tablaPosiciones {
    padding-bottom: 10px;
    background-color: #333;
    color: white;
    text-align: center;
}

.contenedor-tablaPosiciones__tabla{
    width: 100%;
    height: 100%;
}
.contenedor-tablaPosiciones__categoria {
    font-size: 1.5em;
}

.categoria__table{
    width: 100%;
}

.categoria__table__columnas th {
    font-size: 1em;
    background: rgba(196, 107, 7, 0.5);
}

.categoria__table__lineas tr  {
    font-size: 1em;
}

/* RESPONSIVE */
@media screen and (min-width: 768px) {
    .contenedor__slider img {
        width: 5%;   /* probar para solucionar la animacion */
    }
}
 