.tablaPosiciones h2{
    text-align: center;
    font-size: 2em;
}

.contenedor-tablaPosiciones {
    padding: 50px;
    background-color: #333;
    color: white;
    text-align: center;
}

.contenedor-tablaPosiciones__tabla{
    width: 100%;
    height: 100%;
}
    
.categoria__table{
    width: 100%;
}

.categoria__table__columnas th {
    font-size: 1.1em;
    background: rgba(196, 107, 7, 0.5);
}


.categoria__table__lineas tr  {
    font-size: 1.3em;
}