#videoresfech{
    background-color: #333;
    color: white;
    }
    
    #videoresfech .contenedor{
        display: flex;                  /* Para que las imagenes esten en la misma linea */ 
        flex-wrap: wrap;                /*Para que los elementos si no entran en la pagina se bajen */
        justify-content: space-around;    /*Para que lo centre  */
    }
    
       
    #videoresfech h4 {
        text-align: center;
        font-size: 20px;
    }

    
    #videoresfech h3 {
        text-align: center;
        font-size: 30px;
    }

    #videoresfech h2 {
        text-align: center;
        font-size: 40px;
    }