/* Links a otros estilos de las secciones de la pagina FIJOS*/
@import url(../Principal/banner.css);
@import url(../Principal/suscripcion.css);
@import url(../Principal/slider.css);
@import url(../Videos/estilosfooter.css);
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    font-family: 'Inconsolata';
}

img {
    display:block;
    width: 100%;
}

.main-header .container{
    padding: 50px 20px;
}

/*MENU */

.navbar-dark .navbar-nav .nav-link{
    color: white;
    align-items: center;
}
.navbar-dark .navbar-nav .nav-link:hover{
    background-color: #FF4E00;
    color: white;
}
.dropdown-menu {
    background-color: #343a40;
}
.dropdown-menu a{
    color: white;
}
.dropdown-menu a:hover{
    color: white;
    background-color: #FF4E00;
}


/* USER CARRITO BUSCADOR */
.main-header__cart {
    color: white;
    padding: 20px;
}
.main-header__cart:hover {
    color: #FF4E00;
}
.main-header__user{
    color: white;
}
.main-header__user:hover {
    color: #FF4E00;
}
.fa-search{
    color: white;
}
.fa-search:hover {
    color: #FF4E00;
}

.btn-outline-success{
    border-color: #FF4E00;
    color:#343a40 ;
}


/* SLIDER */
.contenedor-slider {
    margin: 5px 0;
    position: relative;
}

.contenedor-slider img {
    display: block;
    height:200px;
}

.contenedor-slider {
    display: block;
  
    position: relative;
}

.contenedor-slider h5 {
    font-family: 'Roboto', sans-serif;
    color:white;
    font-size: 2em;
}

.contenedor-slider p {
    font-family: 'Inconsolata', monospace;
    color: white;
    font-size: 0.8em;
}

.contenedor-slider .slider__link {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    display:block;
    padding: 10px;
    text-align: center;
    width: 150px;
    margin: 20px auto;
    background: rgba(196, 107, 7, 0.5);
    border: 2px solid tomato;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
    font-weight: bold;
}
.contenedor-slider .slider__link:hover{
    background-color: #FF4E00;
    color: white;
    text-decoration: none;
}

/* PRODUCTOS NUEVOS */

.main-title {
    font-family: 'Inconsolata', monospace;
    text-align: center;
    background: rgba(196, 107, 7, 0.5);
    border: 2px solid tomato;
}
.container-products {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
}
.container-products-2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 15px;
}

.product__new {
    border: 1px solid rgb(238, 184, 6);
    padding: 20px;
    text-align: center;
    position: relative;
}

.product__new:before {
    content: "New";
    background: #FF4E00;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}

.product__img {
    width: 100%;
    /*height: 100px; /* tamaño de corte de imagen */
    object-fit: cover;
}

.product__title {
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    padding: 10px;
}

.product__price {
    color: tomato;
    font-weight: bold;
}

.product__icon {
    display: block;
    margin: 10px;
}

.product {
    border: 1px solid rgb(238, 184, 6);
    padding: 20px;
    text-align: center;
    position: relative;
}

/* COMENTARIOS */
.container-testimonios {
    margin: 50px 0;
    position: relative;
    background: rgba(0,0,0,0.1);
    color: #555;
}

.container-testimonios {
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

/* TIPS */
.container-tips {
    margin: 20px 0;
    text-align: center;
    background: rgba(0,0,0,0.1);
    padding: 5px ;
    color: #555;
}

.container-tips h2{
    font-size: 1.5em;
}

.container-tips p{
    font-size: .8em;
}

.container-tips .slider__link {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    display:block;
    padding: 10px;
    text-align: center;
    width: 150px;
    margin: 10px auto;
    background: rgba(196, 107, 7, 0.5);
    border: 2px solid tomato;
    text-decoration: none;
    color: white;
    transition: all 0.5s;
    font-weight: bold;
}

.container-tips .slider__link:hover{
    background-color: #FF4E00;
    color: white;
}

.container-pagination .pagination{
    display: flex;
    justify-content: space-around;
}

/* PAGINACION */
.page-item.disabled .page-link{
    color: #FF4E00;
}

.page-link {
    color: tomato;
}

.page-item.active .page-link {
background-color:#FF4E00;
border-color: white;
}

/* FOOTER */
.main-footer {
    background-color: #151515;
    color: grey;
    padding: 30px 20px;
}

.footer__title {
    font-size: .9em;
    font-weight: bold;
    color: tomato;
    border-bottom: 1px solid #555;
}

.footer__txt {
    font-size: .8em;
}

.redes__sociales {
    size: 0.8em;
    color: grey;
    padding: 10px;
}
.redes__sociales:hover {
    color:#FF4E00;
    padding: 10px;
}

.footer__links {
    font-size: .8em;
    color: grey;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.footer__links:hover {
    color: #FF4E00;
    text-decoration: none;
}

.footer__input {
    background-color: #151515;
    width: 100%;
    display: block;
    padding: 10px;
    border: 1px solid #555;
    color: white;
}

.copy {
    color: #555;
}


/* RESPONSIVE */
@media screen and (min-width: 768px) {
    *{
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 10px;
        font-family: 'Inconsolata';
    }
    .contenedor-slider img  {
        height: 400px;
    }
    .container-tips {
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        grid-gap: 15px;  
    }
}

@media screen and (min-width: 1024px) {
    *{
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 10px;
        font-family: 'Inconsolata';
    }

    /* PRODUCTOS */
    .product__icon:hover {
        color: #FF4E00;
    }
    .container-products-2 {
        display: grid;
        grid-template-columns: repeat(4,2fr);
        grid-gap: 15px;
    }
    .container-tips {
        display: grid;
        grid-template-columns: repeat(3,1fr);   
        grid-gap: 15px;
    }

}
    
