#banner {  /*Margenes que abarca el banner*/
    margin-top: 50px;
    position: relative;
}

#banner img {               /* tamaño de la imagen*/
    width: 100%;
    height: 100%;
}

#banner .contenedor {       /* Texto en el banner*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)  translateY(-50%);
    color: black;
}

#banner h2 {                /* Tamaño de la letra h2 */
    font-size: 28px;
}

#banner a {                 /* Crear un boton*/
    display: block;
    width: 100px;
    color: white;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid white ;
}

#banner a:hover {
    background-color: rga(51,51,510,0.5);
}



