/* Traer fuentes https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* Links a otros estilos de las secciones de la pagina FIJOS*/
@import url(./menu_1.css);
@import url(./banner.css);
@import url(./footer.css);

/* Links a otros estilos de las secciones de la pagina de PAGINA*/



/* CSS de pagina principal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 5px;
}

header{
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; /* z-index: es para que este sobre todos los elementos*/
}
    
.contenedor {
width: 98%;
margin: auto;
}

h1{
    float: left ;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#bienvenidos {
    text-align: center;
    background-color: lightgray;
}
